.content {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
footer {
    position:relative;
    bottom:0;
    width:100%;
    height:65px;   /* Height of the footer */;
}
.custom-form {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
}
.custom-form .custom-form-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
}
.custom-form .custom-btn {
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        width: 200px;
}
.custom-bg {
    background-color: #244B84;
}

table th{
    text-align: center;
}
table td{
    text-align: center;
}
.required:after {
    content:" *";
    color: red;
  }